<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>pokemons</title>
</head>
<body>
<%- include("./helpers/nav.ejs") %>

<%if (locals.pokemons) {%>
<% for (let pokemon of pokemons) {%>
   <h2><%= pokemon.name%></h2>
   <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/<%= pokemon.image %>.png" alt="pokemon">
<%}}%>




</body>
</html>